@import '~antd/dist/antd.css';

.box {
    padding: 5px 10px;
}

.word {
    padding: 5px 5px;
    display: inline-block;
}

.bu {
    margin: 5px 10px;
    display: inline-block;
}

.choice_li {
    padding: 10px 15px;
}

#button {
    float: right;
    margin-right: 40px;
}